<section class="apropos">

  <h1>Bienvenue au Quai Antique</h1>

  <p>
    Situé dans la ville historique de Chambery, le <b>Quai Antique</b> est un restaurant gastronomique , spécialisé dans la 
    cuisine à base de <b>produits locaux de Savoie</b>. Le cadre est élégant et contemporain, offrant une atmosphère 
    chaleureuse et conviviale. Le restaurant est ouvert pour le <b>déjeuner et le dîner, du mardi au dimanche</b>, pour 
    permettre à chacun de profiter de leur menu créatif et savoureux. Les plats proposés mettent en valeur les 
    ingrédients de qualité de la région, avec une touche de modernité et de raffinement dans leur préparation. Venez 
    découvrir la gastronomie savoyarde revisitée dans un cadre exceptionnel !
  </p>
  <p>
    Le chef <b>Arnaud Michant</b>, talentueux et passionné, fort d’une expérience de 25 ans en restauration, vous propose, 
    dans son nouveau restaurant, un service attentionné et professionnel, offrant le choix idéal pour tous les 
    amateurs de gastronomie. 
  </p>

</section>