<section class="booking-link">
  <h2>Réservez-vous notre cuisine de tradition <br>aux bords du lac du Bourget</h2>
  <a class="qa-button qa-button-std" href="{{ path('app_booking') }}">Réservation</a>
</section>