{% extends 'base.html.twig' %}

{% block title %}Réinitialisation de Mot de passe!{% endblock %}

{% block body %}

    <h1>Réinitialisation de Mot de passe!</h1>
    {{ form_start(passwordForm) }}
        {{ form_row(passwordForm.email)}}
        <button type="submit"> Envoyer </button>
    {{ form_end(passwordForm) }}
    

{% endblock %}
