<section class="table-admin">
    <div class="form-input">
        <label for="books_date">Sélectionner un jour pour voir les réservations</label>
        <input  type="date" id="books_date">
    </div>
    <div id="books-results">
    </div>
</section>

