.main-hours-display {

  width: 100%;

  display: flex;
  flex-direction: row;
  column-gap: 50px;
  justify-content: center;
  align-items: center;

  margin-bottom: $footer-content-margin;

  .hours {

    h4 {
      padding: 20px 0;
      border-bottom: 3px solid $main-color;
      text-align: center;
    }

    table {

      margin: 20px 0;
      min-width: 400px;

      td {
        padding: 5px 0;
      }

    }

  }

  .map {

    border: 2px solid $main-color;

  }
}