form {

  min-width: 400px;
  width: 70%;
  max-width: 1000px;

  margin: $nav-content-margin auto $footer-content-margin auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  row-gap: 20px;

  .options-link > * {
    padding: 0 10px;
  }

  h1 {
    margin-bottom: 20px;
  }

}