{% extends 'base.html.twig' %}

{% block title %}Gallerie d'image{% endblock %}

{% block body %}
<div>
    {% for picture in gallery %}
    <div>
        <p>{{ picture.title }}</p>
        <img src="/assets/imgs/gallery/{{ picture.fileName }}">
    </div>
    {% endfor %}
</div>
{% endblock %}
