<p>Bonjour {{ user.firstname }} {{ user.lastname }}</p>
<p> Votre demande de réinitialisation de mot a été envoyé, veuillez cliquer sur le lien pour continuer la procédure :
<a href="{{ url|raw}}">{{ url|raw }}</a></p>